.card-header {
  background-color: #5961B4;
}

.chat-box {
  padding: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.user {
  font-size: 16px;
}

.user:hover {
  color: #212529;
  transition: 0;
  cursor: inherit;
}

.message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.message.user {
  background-color: #e5e5ea;
  align-self: flex-end;
}

.message.bot {
  background-color: #42B3C8;
  color: #fff;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.input-group button {
  padding: 10px 15px;
  border: none;
  background-color: #5961B4;
  color: #fff;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #42B3C8;
}