/*Resetando os valores padrões da página*/
* {
    margin: 0, 0, 10%, 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
    list-style: none;
  }

/*geral para todos os links, parágrafos, títulos, label e select*/
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
select,
span {
  font-family: 'Inter', sans-serif;
  color: #373737;
}

/* ------------ NAVBAR ------------ */

/* ===== Menu Sanduíche ===== */

  /*Largura do menu*/
  .offcanvas {
    width: 60%;
  }

  .offcanvas-header {
    display: flex;
    justify-content: center; 
    position: relative; 
  }
  
  .logoTexto {
    width: 180px;
  }
  
  .btn-close.fechar {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  
  .offcanvas-body, .offcanvas-start {
    background-color: #F0F2FF;
  }
  
  /*Escurecer o fundo*/
  .offcanvas-backdrop.show {
    background-color: rgba(0, 0, 0, 0.5);
  }

  /*Altura total da página*/
  .offcanvas-start {
    height: 100vh;
  }

  /*Borda do botão transparente*/
  .navbar-toggler {
    border: 0px transparent solid;
  }

  /*tamanho ícone de menu*/
  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
  }

  /*tirar cor de focus do botão de menu*/
  button:focus:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-item {
  margin-left: 20px;
  align-items: center;
}

.list-unstyled li img {
  cursor: pointer;
}

.list-unstyled li:hover {
  background-color: white;
  border-radius: 10px 10px;
  padding: 10px;
}


/* ===== Menu Celular ===== */

.user, .sign {
  font-size: 30px;
  cursor: pointer;
}

.sign {
  margin-right: 20px;
}

.user:hover, .sign:hover {
  color: #42B3C8;
  transition: 0.3s ease-in-out; 
}

/* ===== Menu PC ===== */

.logo {
  width: 130px;
}

.login {
  margin-left: 20px;
}

.cadastro {
  margin-right: 20px;
}

.login, .cadastro {
  background-color: white;
  border: 2px solid #42B3C8;
  color: #373737;
}

.login:hover, .cadastro:hover {
  background-color: #42B3C8;
  border: 2px solid #42B3C8;
  color: white;
}

/* ------------ RESPONSIVIDADE ------------ */

@media (max-width: 991px) {
  body {
    margin-top: 2%;
  }
}