/*Resetando os valores padrões da página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
    list-style: none;
  }

/*geral para todos os links, parágrafos, títulos, label e select*/
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
select,
span {
  font-family: 'Inter', sans-serif;
  color: #373737;
}

/* ------------ NAVBAR ------------ */

/* ===== Menu Sanduíche ===== */

  /*Largura do menu*/
  .offcanvas {
    width: 60%;
  }

  /*Escurecer o fundo*/
  .offcanvas-backdrop.show {
    background-color: rgba(0, 0, 0, 0.5);
  }

  /*Altura total da página*/
  .offcanvas-start {
    height: 100vh;
  }

  .navbar-toggler {
    border: 0px transparent solid;
  }

  .navbar-toggler-icon{
    width: 2em;
    height: 2em;
  }

  button:focus:focus {
    outline: none;
    box-shadow: none;
}