/*Resetando os valores padrões da página*/
* {
    margin: 0, 0, 0, 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
  }

html {
  margin: 0, 2vw, 0, 2vw;
}

/*geral para todos os links, parágrafos, títulos, label e select*/
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
select,
span {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #373737;
}

input {
  font-family: "Be Vietnam Pro", sans-serif;
}

/*tirar cor de focus do input*/
input:focus:focus {
  outline: none;
  box-shadow: none;
}

/*tirar cor de focus do botão*/
button:focus:focus {
  outline: none;
  box-shadow: none;
}

/* ------------ NAVBAR ------------ */

/* ===== Menu Sanduíche ===== */

  /*Largura do menu*/
  .offcanvas {
    width: 60%;
  }

  .logoTexto {
    width: 60%;
  }

  .offcanvas-header {
    display: flex;
    justify-content: center; 
    position: relative; 
  }
  
  .btn-close.fechar {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  
  .offcanvas-body, .offcanvas-start {
    background-color: #F0F2FF;
  }
  
  /*Escurecer o fundo*/
  .offcanvas-backdrop.show {
    background-color: rgba(0, 0, 0, 0.5);
  }

  /*Altura total da página*/
  .offcanvas-start {
    height: 100vh;
  }

  /*Borda do botão transparente*/
  .navbar-toggler {
    border: 0px transparent solid;
  }

  /*tamanho ícone de menu*/
  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
  }

  .dropdown-item {
    margin-left: 20px;
    align-items: center;
  }

  .list-unstyled li {
    padding: 5px;
    cursor: pointer;
  }

  .list-unstyled li:hover svg path {
    fill: #5961B4;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .list-unstyled li:hover a {
    color: #5961B4;
    transition: 0.3s ease-in-out;
  }

  .sair {
    width: 25px;
    height: 25px;
    color: #5b5b5e;
  }


/* ===== Menu Celular ===== */

  .user, .sign {
    font-size: 30px;
    cursor: pointer;
  }

  .sign {
    margin-right: 20px;
  }

  .user:hover, .sign:hover {
    color: #42B3C8;
    transition: 0.3s ease-in-out; 
  }

  /* ===== Menu PC ===== */

  .logo {
    width: 130px;
  }

  .login {
    margin-left: 20px;
  }

  .cadastro {
    margin-right: 20px;
  }

  .login, .cadastro {
    background-color: white;
    border: 2px solid #42B3C8;
    color: #373737;
  }

  .login:hover, .cadastro:hover {
    background-color: #42B3C8;
    border: 2px solid #42B3C8;
    color: white;
    transition: 0.3s ease-in-out; 
  }

/* ------------ MAIN ------------ */

/* ===== Propaganda Celular===== */

.propaganda {
  position: relative;
}

.texto1, .texto2 {
  position: absolute;
  width: 100%; 
  padding: 0% 5% 0% 5%;
}

.texto1 {
  top: 20%; 
  font-size: 5vw; 
  font-weight: 600;
  color: #7b6b80;
}

.texto2 {
  top: 50%;
  font-size: 3vw;
  color: #5d555f;
}

.saibaMais {
  position: absolute;
  left: 50%;
  top: 65%; 
  transform: translateX(-50%);
  background-color: #42B3C8;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Be Vietnam Pro", sans-serif;
}

.saibaMais:hover {
  background-color: white;
  border: 2px solid #42B3C8;
  color: #373737;
  transition: 0.3s ease-in-out; 
}


/* ===== Serviços ===== */

.serviços img {
  width: 30%; 
  max-width: 10%; 
  height: auto; 
}

.serviços h1 {
  font-size: 3.5vw;
  margin: 3% 0% 0% 4%;
}
.div-serviços-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0% 5% 0% 5%;
}

.btn-serviços {
  border: 2px #5e5e5e solid;
  width: 35vw; 
  height: 35vw; 
  margin: 5% auto; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  border-radius: 15%;
}

.btn-serviços img {
  width: 60%; 
  height: auto; 
  margin: 20% 0% 20% 0%;
}

.pote {
  margin: 15% 0% 15% 0%!important;
}

.animais {
  margin: 15% 0% 9% 0%!important;
}

.daycare {
  margin: 11% 0% 9% 0%!important;
}

.mapa {
  margin: 15% 0% 9% 0%!important;
}

.saude {
  margin: 18% 0% 13% 0%!important;
}

.btn-serviços p {
  text-align: center; 
  font-size: 3.1vw;
}

.btn-serviços:hover {
  background-color: #42B3C8; 
}

.btn-serviços:hover img {
  filter: brightness(0) invert(1); 
}

.btn-serviços:hover p {
  color: white!important; 
}


/* ===== Profissionais ===== */

.profissionais {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15% 5% 0% 5%;
}

.card {
  position: relative;
  overflow: visible; 
  border-radius: 20px;
}

.card-img-top {
  position: relative;
  top: -50px; 
  z-index: 1;
}
.card a {
  background-color: #373737;
  border-radius: 20px;
}

.card-body h5 {
  margin-top: -20%;
  background-color: #373737;
  color: white;
}

.card-body p {
  margin-bottom: 10%;
  color: white;
}

hr {
  color: white;
}

.classificação_patinhas {
  padding-top: 20%;
}

/* ------------ RESPONSIVIDADE ------------ */

@media (max-width: 380px) {
  .logo-escrita img{
    width: 100%;
  }

  .logo-escrita{
    width: 50%;
  } 
}

@media (min-width: 576px) and (max-width: 700px) {
  .user,
  .sign {
    display: inline !important; 
  }

  .d-md-flex {
    display: none !important;
  }
}


@media (max-width: 768px) {
  .saibaMais {
    padding: 8px 18px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .saibaMais {
    padding: 6px 16px;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .saibaMais {
    padding: 4px 12px;
    font-size: 12px;
  }
}