.seta {
    width: 20px;
    transform: rotate(180deg);
}

.list-unstyled-2 {
    display: flex;
    align-items: center;
}

.dropdown-item{
    margin-right: 20px;
    font-size: 0.9vw;
}

.icone {
    flex-shrink: 0; /* Impede que eles encolham */
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center!important;
    padding-bottom: 0px;
    padding-top: 15px;
    gap: 20px;
    background-color: #E9EBFB;
  }

  .fotoPerfil {
    width: 20%; 
    aspect-ratio: 1 / 1; 
    border-radius: 50%; 
    object-fit: cover; 
    overflow: hidden; 
  }
  

  .logo2 {
    background-color: #F0F2FF;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  /* ------------ NAVBAR ------------ */

/* ===== Menu Sanduíche ===== */

/*Largura do menu*/
.offcanvas {
    width: 60%;
  }
  
  .logoTexto {
    width: 60%;
  }
  
  .offcanvas-header {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .btn-close.fechar {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  
  .offcanvas-body,
  .offcanvas-start {
    background-color: #F0F2FF;
  }
  
  .offcanvas-body {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  /*Escurecer o fundo*/
  .offcanvas-backdrop.show {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /*Altura total da página*/
  .offcanvas-start {
    height: 100vh;
  }
  
  /*Borda do botão transparente*/
  .navbar-toggler {
    border: 0px transparent solid;
  }
  
  /*tamanho ícone de menu*/
  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
  }
  
  .dropdown-item {
    margin-left: 20px;
    align-items: center;
  }
  
  .list-unstyled li {
    padding: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .list-unstyled li svg path {
    transition: 0.3s ease-in-out;
  }
  
  .list-unstyled li:hover svg path {
    fill: #5961B4;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .list-unstyled li:hover a {
    color: #5961B4;
    transition: 0.3s ease-in-out;
  }
  
  .sair {
    width: 25px;
    height: 25px;
    color: #5b5b5e;
  }
  
  
  /* ===== Menu Celular ===== */
  
  .user,
  .sign {
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .sign {
    margin-right: 20px;
  }
  
  .user:hover,
  .sign:hover {
    color: #42B3C8;
    transition: 0.3s ease-in-out;
  }
  
  /* ===== Menu PC ===== */
  .menuPC {
    padding: 1% 2% 0% 2%;
  }
  
  .logo {
    width: 5%;
  }
  
  .login {
    margin-left: 20px;
  }
  
  .cadastro {
    margin-right: 20px;
  }
  
  .login,
  .cadastro {
    background-color: white;
    border: 2px solid #42B3C8;
    color: #373737;
  }
  
  .login:hover,
  .cadastro:hover {
    background-color: #42B3C8;
    border: 2px solid #42B3C8;
    color: white;
    transition: 0.3s ease-in-out;
  }

  /* ------------ RODAPÉ ------------ */

.rodapePC {
    padding: 2% 5% 1% 5%!important;
  }
  
  .rodapePC .teste {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    font-size: 1vw;
  }
  
  .rodapePC .teste div {
    display: flex; 
    font-size: 1.2vw;
    gap: 10px;
  }
  
  .rodapePC p {
    font-size: 0.8vw;
  }
  
  /* ===== Celular===== */
  
  .rodape, .rodapePC {
    background-color: #F0F2FF;
    width: 100%;
    padding: 6% 4% 0% 4%;
    display: flex;
    flex-direction: column;
  }
  
  .rodape p {
    font-size: 2vw;
  }
  
  .rodape a {
    transition: 0.2s ease-in-out;
  }
  
  .rodape a:hover {
    color: #5961B4;
    transition: 0.2s ease-in-out;
  }
  
  .conteudoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .conteudoFooter img {
    width: 10%;
    height: auto;
  }
  
  .conteudoFooter .dropdown-item {
    margin-left: 10px;
    font-size: 3vw;
  }
  
  .redesSociais {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
  }
  
  .redesSociais a {
    margin-left: 2%;
  }
  
  .redesSociais a svg path {
    transition: 0.2s ease-in-out;
  }
  
  .rodape {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F0F2FF;
  }
  
  .link:hover svg path {
    fill: #0e76a8;
    transition: 0.2s ease-in-out;
  }
  
  .whats:hover svg path {
    fill: #25D366;
    transition: 0.2s ease-in-out;
  }
  
  .face:hover svg path {
    fill: #3b5998;
    transition: 0.2s ease-in-out;
  }
  
  .insta:hover svg path {
    fill: #E1306C;
    transition: 0.2s ease-in-out;
  }
  
  .img-top-right {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 7%;
    height: auto;
    max-width: 100px;
  }
  
  .img-bottom-left {
    position: absolute;
    bottom: 17%;
    left: 4%;
    width: 7%;
    height: auto;
    max-width: 100px;
  }
  
  .bolinha {
    position: absolute;
    border-radius: 50%;
    /* Faz o elemento ser redondo */
    background-color: white;
    /* Cor da bolinha */
    width: 20px;
    /* Largura da bolinha */
    height: 20px;
    /* Altura da bolinha */
  }
  
  /* Crie várias bolinhas em diferentes posições */
  .bolinha1 {
    top: -3%;
    left: 3%;
  }
  
  .bolinha2 {
    top: -3%;
    left: 13%;
  }
  
  .bolinha3 {
    top: -3%;
    left: 23%;
  }
  
  .bolinha4 {
    top: -3%;
    left: 33%;
  }
  
  .bolinha5 {
    top: -3%;
    left: 43%;
  }
  
  .bolinha6 {
    top: -3%;
    left: 53%;
  }
  
  .bolinha7 {
    top: -3%;
    left: 63%;
  }
  
  .bolinha8 {
    top: -3%;
    left: 73%;
  }
  
  .bolinha9 {
    top: -3%;
    left: 83%;
  }
  
  .bolinha10 {
    top: -3%;
    left: 93%;
  }